.Folder{
    margin: 10px 0;
}


.Emails{
    list-style: none;
    background-color: aliceblue;
    border-top: 1px  solid darkgray;
    border-bottom: 1px solid darkgray;
    padding: 7px 12px;
}
.Emails:hover,
.Emails:active{
    cursor: pointer;
    background-color: rgb(0, 105, 217);
}
.FolderButton{
    border: 2px solid white;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}
.FolderButton:active,
.FolderButton:hover{
    border: 2px solid black;
    box-sizing: border-box;
}

.SingleMail{
    background-color: aliceblue;
    padding: 10px;
}

.NewMail{
    padding: 15px 7px;
}

.Delete{
    border: none;
    background-color: darkred;
    color: white;
}
.Delete:hover{
    background-color: white;
    color: darkred;
    cursor: pointer;
}