.AuthSignIn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.AuthBox{
    background-color: #8fcfd1;
    padding: 12px 16px;
}
.AuthSignIn form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}
.Input{
    font-size: 1.2rem;
    padding: 7px 10px;
    margin: 10px auto;
    width: 90%;
}
.Button{
    width: 100%;
    font-size: 1.2rem;
    padding:  10px;
    border: none;
    outline: none;

}

.Button:hover{
    background-color: #035aa6;
}